.header {
  height: 6.4rem;
  background-color: #086100;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);

  .header__wrapper {
    position: relative;
    width: 100%;
    // max-width: 1450px;
    height: 100%;
    // margin: 0 auto;
    display: flex;
    grid-template-columns: 1fr 2fr;
    // justify-content: space-between;

    .header__logo{
      position: absolute;
      width: 8.0rem;
      top: 50%;
      left: 25px;
      filter: drop-shadow(4px 4px 2px #333);
      transform: translateY(-50%);
      z-index: 99;

      a {
        margin: 0;
      }

      img {
        display: block;
        width: 100%;
        margin: 0;
      }
    }
    .header__cta {
      position: absolute;
      top: 50%; right: 25px;
      transform: translateY(-50%);

      ul, li {
        margin: 0;
        padding: 0;
      }

      li {
        list-style: none;

        a {
          font-size: 1.8rem;
          line-height: 1;
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }
}
